@import "../lib";

.aboutContainer {
    position: relative;
    min-height: 100vh;
    @include colCenter();
    justify-content: space-between;
}

#about {
    .banner {
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: $S;
    }
    .dropdownContainer {
        width: 75%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0;
    }
}
