@import "./assets/styles/lib";

:root {
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;

    color-scheme: light dark;
    color: $DARK;
    background-color: $LIGHT;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 320px;
    min-height: 100vh;
}
