@import "./lib";
@import "./pages/homepage";
@import "./pages/apartment";
@import "./pages/notFound";
@import "./pages/about";

li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    position: relative;
    padding: 0 100px;
    @include colCenter();
    gap: $M;

    @media screen and (max-width: 700px) {
        padding: 0 20px;
        gap: $S;
    }
}
header {
    margin-top: 45px;
    width: 100%;
    @include rowCenter();
    justify-content: space-between;

    img {
        @media screen and (max-width: 700px) {
            width: 145px;
        }
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $M;

        @media screen and (max-width: 700px) {
            gap: $S;
        }

        a {
            color: $ACCENT;
            font-size: 24px;
            font-weight: 500;

            @media screen and (max-width: 700px) {
                font-size: 12px;
            }

            &:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}

footer {
    width: 100%;
    padding: $M 0 $S;
    @include colCenter();
    gap: $S;
    background: $DARK;
    color: $LIGHT;

    img {
        @media screen and (max-width: 700px) {
            width: 122px;
        }
    }

    p {
        @media screen and (max-width: 700px) {
            font-size: 12px;
            width: 50%;
            text-align: center;
            text-wrap: balance;
        }
    }
}

.dropdownContainer {
    width: 100%;
    display: flex;
    gap: 100px;
    transition: 0.3s ease;

    .dropdown {
        flex: 1;
        overflow: hidden;
        margin-bottom: 50px;

        &__title {
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $ACCENT;
            padding: 10px;
            padding-right: 20px;

            p {
                color: $LIGHT;
                font-size: 18px;
                font-weight: 500;
            }

            img {
                width: 32px;
                transition: transform 0.3s ease;
            }
        }
        &__contentContainer {
            overflow: hidden;
            position: relative;

            .content {
                height: fit-content;
                background: $GRAY;
                padding: 20px;
                color: $ACCENT;
                font-size: 18px;
                font-weight: 400;
                border-radius: 10px 10px 5px 5px;
                transition: transform 0.3s ease;
            }
        }
    }
}
